<div class="row">
  <div class="col" id="about">
    <h2>About </h2>
    <br/>
    <div class="card">
            <div class="card-header">
              What does it mean to be 'woke'? 
            </div>
            <div class="card-body">
              <h5 class="card-title">Woke (adjective)</h5>
              <p class="card-text">"The phenomenon of being woke is a cultural push 
                  to challenge problematic norms, systemic injustices 
                  and the overall status quo through complete awareness.
                    Woke(ness) provides us with a basic understanding of the why 
                    and how come aspect of societies’ social and systemic functions."</p>
              <a href="https://blavity.com/what-does-it-mean-to-be-woke/" class="btn btn-primary">Definition Source</a>
            </div>
          </div>
    <br/>

    <p> So You Want to be Woke is a site meant to help you 
    become more aware of the issues facing different marginalized communities.
    Some of these topics may be ones you are aware of and others not.
    By making this site, we hope to make it easier for you to 
    gain an initial understanding of the different ways people may be
    targeted for their physical features, beliefs, or characteristics.</p>

    </div>
</div>