<DOCTYPE HTML>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120429576-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120429576-1');
        </script>

    <!-- Priority tags. These must come first. -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1"> <!-- Render Chrome if available or using latest version of Internet Explorer (Recommended). -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Document Title -->
    <title>So You Want to Be Woke</title>

    <!-- Base URL to use for all relative URLs contained within the document -->
    <!-- <base href="https://soyouwanttobewoke.com/"> -->

    <!-- Search Eengine and Browser Meta Tags. -->
    <meta name="description" content="Making it easy to learn about different struggles facing people around you."> <!-- Keep under 500 characters -->
    <meta name="abstract"    content="Helping people learn to be woke."> <!-- Keep uder 100 characters -->
    <meta name="rating"      content="General"> <!-- General, 14 Years, Mature or Restricted -->
    <!-- Search engine robots Meta Tags. -->
    <meta name="robots" content="noindex, nofollow, noodp, noydir, noarchive"> <!-- Disable from all search engines.-->
    <!-- Open Graph Meta Tags (ogp.me) -->
    <meta property="og:image"            content="{{url_for('static', filename='img/hand-rock.svg')}}">  <!-- Web page thumbnail -->
    <meta property="og:site_name"        content="So You Want to be Woke">                     <!-- Web site title -->
    <meta property="og:title"            content="So You Want to be Woke">                    <!-- Web page title -->
    <meta property="og:description"      content="Description of this web page">  <!-- Web page description -->
    <meta property="og:type"             content="blog">                       <!-- Content type ["product", "blog", "website", "book", "movie", ... ] -->
    <meta property="og:url"              content="http://soyouwanttobewoke.com/"> <!-- Url to this web page -->
    <meta property="og:locale"           content="en_US">                         <!-- Main Language -->
    <meta property="og:email"            content="team@soyouwanttobewoke.com">             <!-- Contact email -->
   
    <!-- Facebook Meta Tags. -->
    <meta property="fb:app_id" content="123456789">
    <!-- Twitter Meta Tags. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@souwannabewoke">
    <meta name="twitter:url" content="https://soyouwanttobewoke.com">
    <meta name="twitter:title" content="So You Want to be Woke">
    <meta name="twitter:description" content="For when someone's asking for your emotional labor but still want them to be better.">
    <meta name="twitter:image" content="https://example.com/image.jpg">

    <!-- Favicon Meta Tags.  -->
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon" />
    <!-- <link rel="icon" href="/graphics/favicon-16.png"  sizes="16x16"   type="image/png">
    <link rel="icon" href="/graphics/favicon-32.png"  sizes="32x32"   type="image/png">
    <link rel="icon" href="/graphics/favicon-48.png"  sizes="48x48"   type="image/png">
    <link rel="icon" href="/graphics/favicon-62.png"  sizes="62x62"   type="image/png">
    <link rel="icon" href="/graphics/favicon-128.png" sizes="128x128" type="image/png"> -->
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" sizes="192x192" type="image/png"> 


    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">

    <!-- CSS Files-->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



</head>

