<DOCTYPE HTML>

<head>
    <!-- Need to add Google Analytics tracker -->
    <!-- Priority tags. These must come first. -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1"> <!-- Render Chrome if available or using latest version of Internet Explorer (Recommended). -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Document Title -->
    <title>So You Want to Be Woke</title>

    <!-- Base URL to use for all relative URLs contained within the document -->
    <!-- <base href="https://soyouwanttobewoke.com/"> -->

    <!-- Search Eengine and Browser Meta Tags. -->
    <meta name="description" content=""> <!-- Keep under 500 characters -->
    <meta name="abstract"    content=""> <!-- Keep uder 100 characters -->
    <meta name="rating"      content="General"> <!-- General, 14 Years, Mature or Restricted -->
    <!-- Search engine robots Meta Tags. -->
    <meta name="robots" content="noindex, nofollow, noodp, noydir, noarchive"> <!-- Disable from all search engines.-->
    <!-- Open Graph Meta Tags (ogp.me) -->
    <meta property="og:image"            content="http://example.com/image.jpg">  <!-- Web page thumbnail -->
    <meta property="og:site_name"        content="So You Want to be Woke">                     <!-- Web site title -->
    <meta property="og:title"            content="Page Title">                    <!-- Web page title -->
    <meta property="og:description"      content="Description of this web page">  <!-- Web page description -->
    <meta property="og:type"             content="article">                       <!-- Content type ["product", "blog", "website", "book", "movie", ... ] -->
    <meta property="og:url"              content="http://example.com/index.html"> <!-- Url to this web page -->
    <meta property="og:locale"           content="en_US">                         <!-- Main Language -->
    <meta property="og:email"            content="email@example.com">             <!-- Contact email -->
    <meta property="og:phone_number"     content="+44 123 456 7622">              <!-- Contact phone number -->
    <meta property="og:video"            content="http://example.com/video.flv">  <!-- Video file url-->
   
    <!-- Facebook Meta Tags. -->
    <meta property="fb:app_id" content="123456789">
    <!-- Twitter Meta Tags. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@souwannabewoke">
    <meta name="twitter:creator" content="@WillEssilfie">
    <meta name="twitter:url" content="https://soyouwanttobewoke.com">
    <meta name="twitter:title" content="So You Want to be Woke">
    <meta name="twitter:description" content="Content description less than 200 characters">
    <meta name="twitter:image" content="https://example.com/image.jpg">

    <!-- Favicon Meta Tags.  -->
    <link rel="icon" href="/graphics/favicon.ico">
    <link rel="icon" href="/graphics/favicon-16.png"  sizes="16x16"   type="image/png">
    <link rel="icon" href="/graphics/favicon-32.png"  sizes="32x32"   type="image/png">
    <link rel="icon" href="/graphics/favicon-48.png"  sizes="48x48"   type="image/png">
    <link rel="icon" href="/graphics/favicon-62.png"  sizes="62x62"   type="image/png">
    <link rel="icon" href="/graphics/favicon-128.png" sizes="128x128" type="image/png">
    <link rel="icon" href="/graphics/favicon-192.png" sizes="192x192" type="image/png">


    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">

    <!-- CSS Files-->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body>
    <!-- TO DO: UPDATE HEADER -->

    <nav class="navbar navbar-expand-lg navbar-custom navbar-light nav-fill" id="intro">

            <a class="navbar-brand" href="/">
                    <img src="http://via.placeholder.com/200x80/ffffff" width="200" height="80" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sections
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Racial Identity</a>
                    <a class="dropdown-item" href="#">#MeToo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Contribute</a>
                  </div>
                
                  <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>


                </li>
              </ul>

            </div>
          </nav>


          <div class="container-fluid">


                <div class="row">
                  <div class="col text-center intro-text intro-banner" id="intro">
                      <div id="centering-new-lines">
                        <br/> 
                        <br/>
                        <br/>
                        </div>
                        <p class="animated zoomIn" id="home-text">Someone told me I'm not woke on<br/> <span id="typed"></span></p>
                        <br/>
                        <br/>
                        <br/>
                  </div> 

                  <div id="typed-strings" style="display: none;">
                        <p>racial identity.</p>
                        <p>mental health.</p>
                        <p>LGBTQ issues.</p>
                        <p>feminism.</p>
                        <p>appropriation.</p>
                        <p>inclusivity.</p>
                        <p>islamophobia.</p>
                        <p>socioeconomics.</p>
                        <p>ableism.</p>
                        <p>#MeToo.</p>
                        <p>fetishism.</p>
                    </div>

                </div>
                <!-- Scroll down arrow that links to About section-->
                <div class="row">
                    <div class="col">
                            <a id=scroll href="#about">
                            <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-256.png"/>
                            </a>
                    </div>
                </div>

                <div class="row">
                  <div class="col" id="about">
                    <h2 id="about" >About </h2>
                    <br/>
                    <div class="card">
                            <div class="card-header">
                              What does it mean to be 'woke'?
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Woke (adjective)</h5>
                              <p class="card-text">"The phenomenon of being woke is a cultural push 
                                  to challenge problematic norms, systemic injustices 
                                  and the overall status quo through complete awareness.
                                    Woke(ness) provides us with a basic understanding of the why 
                                    and how come aspect of societies’ social and systemic functions."</p>
                              <a href="https://blavity.com/what-does-it-mean-to-be-woke/" class="btn btn-primary">Definition Source</a>
                            </div>
                          </div>
                    <br/>

                    <h4 id="about-text"> So You Want to be Woke is a site meant to help you 
                    become more aware of the issues facing different marginalized communities.
                    Some of these topics may be ones you are aware of and others not.
                    By making this site, we hope to make it easier for you to 
                    gain an initial understanding of the different ways people may be
                    targeted for their physical features, beliefs, or characteristics.</h4>
                    <br/>
                
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="faq">
                        <h2>FAQ</h2>
                        <h3>How do I contribute?</h3>
                        <p>We are always looking for new content to share on this site. 
                        This site accepts links to articles, books, and videos. 
                        Please only submit content that is publicly available or that you 
                        have the rights to. The team has the final decision on what content 
                        gets published to the site. Content submission or 
                        new ideas can be sent to team@soyouwanttobewoke.com 
                        and should be formatted in the following format:
                        <ul>
                            <li>Name of Content</li>
                            <li>Format (book/article/video)</li>
                            <li>Content Link</li>
                            <li>Topic (ex. Racial identity, etc)</li>
                            <li>Photo/Image</li>
                            <li>Blurb about topic</li>
                        </ul>
                        </p>

                     
                    </div>
                </div>
            </div>
 


    <!-- <div class="footer">
        Site created with  <strong> 💙 </strong> by Will Essilfie.
    </div> -->

    <footer class="bd-footer text-white">           
            <ul class="nav justify-content-end " id="footer-data">
                    <li class="nav-item">
                      <a class="nav-link" href="mailto:team@soyouwanttobewoke.com">Contact</a>
                    </li>
                  </ul>

        </footer>
    <!-- Typed.js animation-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.7/typed.min.js'></script>
    <script>
            var typed = new Typed('#typed', {
              stringsElement: '#typed-strings',
              startDelay: 3,
              backSpeed: 3,
              typeSpeed: 50,
              loop: true,
            });
    </script>
    <!-- Required to go with Bootstrap 4-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</DOCTYPE>